@model IEnumerable<SaltationSistemas.Areas.Docente.Models.Docente>
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>Docentes</h2>
        @*<p>The .table-bordered class adds border on all sides of the table and cells:</p>*@
        <div class=" panel-heading">
            <div class="row">
                <a class="btn btn-primary navbar-inverse" href="/Docente/Docente/Create">Nuevo</a>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Registro</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Registro
                        </td>
                        <td>
                            @item.Nombre
                        </td>
                        <td>
                            @item.Apellido
                        </td>
                        <td>
                            @item.Telefono
                        </td>
                        <td>
                            @item.Correo
                        </td>
                        <td class="text-right">
                            <a class="btn  navbar-btn btn-xs" href="/Docente/Docente/Detail?Id=@item.Registro">Detalles</a>
                            <a class="btn  navbar-btn btn-xs " href="/Docente/Docente/Update?Id=@item.Registro">Modificar</a>
                            <a class="btn  navbar-btn btn-xs" href="/Docente/Docente/Delete?Id=@item.Registro">Eliminar</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>

